.banner {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
	&__backdrop {
		background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
		bottom: 0;
		left: 0;
		opacity: 1;
		position: absolute;
		right: 26.09%;
		top: 0;
		transition: opacity 0.5s;
	}
	&__backdrop--bot {
		position: absolute;
		top: 61.5%;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(
			180deg,
			rgba(22, 22, 22, 0) 0%,
			#141414 83.95%,
			#141414 100%
		);
	}
	&__content {
		position: relative;
		z-index: 1;
		font-size: 1.2vw;
		width: 36%;
		padding-bottom: 4rem;
		p {
			margin: 0 0 4rem 0;
		}
	}
	&__btn {
		display: flex;
		gap: 1.5rem;
	}
}
