header {
	z-index: 999;
	position: fixed;
	width: 100vw;
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.7) 10%,
		transparent
	);
	.header {
		&__wrapper {
			display: flex;
			align-items: center;
			padding: 0rem clamp(1rem, 3.6vw, 6rem);
			height: 7rem;
			width: 100%;
			justify-content: space-between;
		}
		&__logo {
			width: 10rem;
			height: 2.5rem;
			position: relative;
			margin-right: clamp(1rem, 2.4vw, 4.5rem);
		}
		&__first-menu {
			display: flex;
			align-items: center;
		}
		&__second-menu {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
		&__profile {
			display: flex;
			align-items: center;
			cursor: pointer;
			&:after {
				content: "";
				border-color: var(--cl-white-1) transparent transparent;
				border-style: solid;
				border-width: 0.5rem 0.5rem 0;
				width: 0;
				height: 0;
				margin-left: 1rem;
				transition: all 367ms cubic-bezier(0.21, 0, 0.07, 1);
			}
			&:hover {
				&:after {
					rotate: 180deg;
				}
			}
		}
		&__account {
			width: 3.2rem;
			height: 3.2rem;
			background-color: var(--cl-white-1);
			border-radius: 0.4rem;
		}
		&__btn {
			background-color: transparent;
			border: none;
			color: var(--cl-white-1);
			cursor: pointer;
		}
	}
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		color: var(--cl-white-2);
		font-weight: var(--fw-500);
		gap: 2rem;
		li {
			transition: color 0.3s;
			&.active {
				color: var(--cl-white-1);
				font-weight: var(--fw-700);
				pointer-events: none;
			}
			&:hover {
				color: var(--cl-white-3);
			}
		}
	}
}
