html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--cl-black-1);
	font-family: "Roboto", sans-serif;
	color: var(--cl-white-1);
	font-size: clamp(1rem, 0.8vw, 1.4rem);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
